NET "clock" LOC = "B8";
NET "reset" LOC = "G12";
NET "T5" LOC = "M5";
NET "T6" LOC = "M11";
NET "T20" LOC = "P7";
NET "T60" LOC = "P6";
NET "displays<0>" LOC = "F12";
NET "displays<1>" LOC = "J12";
NET "displays<2>" LOC = "M13";
NET "displays<3>" LOC = "K14";
NET "num7seg<0>" LOC = "N13";
NET "num7seg<1>" LOC = "M12";
NET "num7seg<2>" LOC = "L13";
NET "num7seg<3>" LOC = "P12";
NET "num7seg<4>" LOC = "N11";
NET "num7seg<5>" LOC = "N14";
NET "num7seg<6>" LOC = "H12";
NET "num7seg<7>" LOC = "L14";