NET "clock" LOC = "B8"; # CLOCK;
NET "reset" LOC = "G12"; # BTN0;
NET "enable" LOC = "C11"; # BTN1;
NET "load" LOC = "M4"; # BTN2;
NET "uniload(0)" LOC = "P11"; # SW0;
NET "uniload(1)" LOC = "L3"; # SW1;
NET "uniload(2)" LOC = "K3"; # SW2;
NET "uniload(3)" LOC = "B4"; # SW3;
NET "dezload(0)" LOC = "G3"; # SW4;
NET "dezload(1)" LOC = "F3"; # SW5;
NET "dezload(2)" LOC = "E2"; # SW6;
NET "dezload(3)" LOC = "N3"; # SW7;
NET "unidade(0)" LOC = "M5"; # LD0;
NET "unidade(1)" LOC = "M11"; # LD1;
NET "unidade(2)" LOC = "P7"; # LD2;
NET "unidade(3)" LOC = "P6"; # LD3;
NET "dezena(0)" LOC = "N5"; # LD4;
NET "dezena(1)" LOC = "N4"; # LD5;
NET "dezena(2)" LOC = "P4"; # LD6;
NET "dezena(3)" LOC = "G1"; # LD7;